<nav class="menu">
  
  <input type="checkbox" id="toggler">
  <label for="toggler">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </label>
  
  <ul class="menu-nav">
    <li class="nav-item">
      <a href="{{ site.baseurl }}/" class="nav-link">
        Home
      </a>
    </li>
  
    <li class="nav-item current">
      <a href="{{ site.baseurl }}/about/" class="nav-link">
        
        <span class="lg-heading">About</span> 
        <span class="text-secondary">Me</span> 
      </a>
    </li>
  
    <li class="nav-item">
      <a href="{{ site.baseurl }}/services/" class="nav-link">
        
        <span class="lg-heading">My</span> 
        <span class="text-secondary">Work</span> 
      </a>
    </li>
  
    <li class="nav-item">
      <a href="{{ site.baseurl }}/contacts/" class="nav-link">
        
        <span class="lg-heading">Contact</span> 
        <span class="text-secondary">Me</span> 
      </a>
    </li>
  </ul>

</nav>
  
