@import 'variables';
@import 'reset';
@import 'variables';
@import 'mixins';

body { 
  background-image: url('/img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  color: set-text-color($primary-color);
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Verdana, sans-serif;
  line-height: 1.5;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
     
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color:  #6B8E23;
      opacity: 1;
      z-index: -1;
    }
    
    
}

header {
    opacity: 1;
    height: 3.5em;
    //transform: translateY(-3.5em);
    background-color: #556B2F;
    display: flex;
    justify-content: space-between;
    //position: fixed;
    z-index: 5;
    width: 100%;

    nav {
        
        display: flex;

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;

            li {
                display: block;
                margin: 1em;
            }
        }
    }
}

main {
  min-height: calc(100vh - #{$footer-height} - 3.5em);
  
}

// Headings
h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  z-index: 25;

  &.lg-heading {
    font-size: 5rem;
    margin: 1rem 0 0 0 ;
  }

  &.sm-heading {
    margin: 1rem 0 0 0 ;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}



.text-secondary {
  color: $secondary-color;
}




// About page layout
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      'bioimage bio bio'
      'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
  
    .bio-image {
      grid-area: bioimage;
      margin: auto auto;
      border-radius: 50%;
      border: $secondary-color 3px solid;
    }
  
    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }
  
    .job-1 {
      grid-area: job1;
    }
  
    .job-2 {
      grid-area: job2;
    }
  
    .job-3 {
      grid-area: job3;
    }
  
    .job {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
    }
}


// services page layout
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//contact page layout

// Contact Page
.boxes {
  //display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    width: 19em;
    border: 3px $secondary-color solid;
    padding: 1.5rem 2.5rem;
    margin: auto;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 1.8rem 2.8rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}




footer {
  background-color: #556B2F;
  height: $footer-height;
  //margin-top: 10em;
  z-index: 5;
}