nav.menu {
  //display: flex;
  //flex-direction: row;
  //align-items: center;
  //justify-content: center;
  height: 3em;

  
  .menu-btn {
    background-color: $primary-color;
    width: 100%;
    height: 4em;
    cursor: pointer;
    @include easeOut;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //margin: 1em;
    
   
    label {
      z-index: 5;
      .btn-line {
        width: 28px;
        height: 3px;
        background: white;
        @include easeOut;
        z-index: 5;
      }
  
      /*
      .btn-line:before{
        content: "";
        position: relative;
        width: 28px;
        height: 3px;
        top: 8px;
        z-index: 5;
        background: white;
        
      }
      .btn-line:after {
        content: "";
        position: relative;
        width: 28px;
        height: 3px;
        top: -8px;
        z-index: 5;
        background: white;
      }*/
    } 
    
    #toggler {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    #toggler:checked + label > .btn-line{
      transform: rotate(135deg);
    }
    #toggler:checked + label > .btn-line:before, #toggler:checked + label > .btn-line:after {
      transform: rotate(90deg);
      top: 0;
    }  

    #toggler:checked ~ ul.menu-nav {
      visibility: visible;
      //transform: translateY(100px);
      //transform: translateX(-600px);
      //@include easeOut;
    }
    ul.menu-nav {
      //position: relative;
      //top: 0;
      //visibility: hidden;
      //width: 90%;
      //height: 100%;
      
      opacity: 0.9;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li {
        padding: 1em;
        //margin: 0.1em;
        display: block;
        background-color: rgba($color: black, $alpha: 0.9);
        a {
          text-decoration: none;
          color: $secondary-color;
          margin: 0.5em 0;
          font-size: 1.5em;
          @include easeOut;
        }
        a:hover {
          font-size: 1.8em;
        }
      }
      
    }
  }

}