$primary-color: #0a1b0a;
//
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;
$footer-height: 4rem;
$header-height: 5rem;


@mixin easeOut {
    transition: all 0.5s ease-out;
}

  
// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
      @return #000;
    } @else {
      @return #fff;
    }
}
  

  