<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="../css/style.css">
    <title>
        
    </title>
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
</head>
<body>

    <div class="site">

        <header class="site-header">
            
            <div class="site-branding">
                <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
                <p>{{ site.description }}</p>
            </div>

            <nav>
                <ul>
                    <li><a href="/index/">Home</a></li>
                    <li><a href="/index/about">About</a></li>
                    <li><a href="/index/services">Services</a></li>
                    <li><a href="/index/contacts">Contacts</a></li>

                </ul>
            </nav>
            
        </header>

        <main class="site-main">
            
            <h1>{{ page.title }}</h1>

            {{ content }}

        </main>

        <footer class="site-footer">

           

            <p>{{ site.title }} &copy; All rights reserved</p>
        </footer>
    </div>
    
</body>
</html>
</html>